<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <%- include("partials/nav") %>
            <div class="messages">
                <% for (let i = 0; i < messages.length; i++) {%>
                <p class="author"><%= messages[i].username %>:</p>
                <p class="message"><%= messages[i].message %></p>
                <p class="time"><%= messages[i].date %></p>
                <% } %>
            </div>
        </div>
    </body>
</html>
